<div id="tittle">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <h3>{{ web }}</h3>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, ad? Deleniti ut dolor, eveniet dolorem adipisci optio facilis et tempore laudantium illum doloremque at accusamus, delectus esse, veritatis accusantium magni?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed molestias mollitia, debitis, earum odio in doloremque blanditiis accusantium ex, id perferendis nulla ab provident iusto. Vel deleniti vitae excepturi sapiente.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, delectus velit voluptatum sed inventore soluta! Itaque nihil quas provident, sunt unde distinctio natus aut, molestiae eos temporibus non voluptates aliquam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic earum molestias perspiciatis minus amet odit a, numquam perferendis reiciendis quam doloremque possimus pariatur quasi libero rerum, blanditiis deleniti, magnam voluptatibus!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia velit totam ducimus! Voluptatem architecto, qui illo voluptatum et, id blanditiis fuga sequi officia cupiditate recusandae delectus repellendus modi ullam minus?
    </p>
</article>
