<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">Sobre mí</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo">RAUIBERT</li>
    <li><a [routerLink]="['/create']" [routerLinkActive]="['actived']">Crear proyectos</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>
<section id="content">
<router-outlet></router-outlet>
</section>

<footer>Portofolio Rauibert</footer>